<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>select的使用</title>
<script src="../scripts/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <!-- 选择一个：存储字符串 -->
    <select name="abc" v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="橘子">橘子</option>
    </select>
    <h2>您选择的水果：{{fruit}}</h2>
    <!-- 选择多个：存储数组,multiple表示可多选 -->
    <select name="abc" v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="橘子">橘子</option>
    </select>
    <h2>水果复数：{{fruits}}</h2>
  </div>
  <script>
    const app = new Vue({
      el:'#app',
      data:{
        // 可以选定一个初始值：
        // 如：fruit:'橘子'
        fruit:'',
        fruits:[]
      }
    })
  </script>
</body>
</html>